<%= link_to "Back to lists", lists_path %>
<%= link_to "Create a movie list", new_list_path %>

<h1><%= @list.name %></h1>
<p>Created: <%= @list.created_at %></p>
<p>Updated: <%= @list.updated_at %></p>
<%= @list.movies.count %>

<h2>Movies</h2>
<ul class="list-group">

  <% @list.bookmarks.each do |bm| %>
    <li class="list-group-item">
      <img src='<%= bm.movie.poster_url %>' alt=""> <br>
      <p><%= bm.movie.title %> <%= " -- " %> <%= bm.movie.rating %> <%= 'star icon' %> </p>
      <p><%= bm.movie.overview %></p>
      <%= link_to "Delete movie from list", delete_bookmark_path(bm), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </li>

  <% end %>
</ul>
<br>

<h1>New bookmark</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
