<%= link_to "Back to lists", lists_path %>
<%= link_to "Create a movie list", new_list_path %>

<h1><%= @list.name %></h1>
<p>Created: <%= @list.created_at %></p>
<p>Updated: <%= @list.updated_at %></p>
<%= @list.movies.count %>

<p>Add a movie (link)</p>
<h2>Movies</h2>
